.vscode/
./build/
.DS_Store
*.swp
*.swo
*.user
*.log
*.elf
*.map
*.bin
*.hex
*.o
*.d
*.lst
*.axf
*.tcl
*.uvoptx
*.uvprojx
*.cproject
*.project
*.launch
*.dep
*.bak
*.orig
*.a

# Ignore CMake build files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
Testing/            